{% block mainmenu %}
<div id="navigation" class="border_bottom container">
{% block homelink %}
  <div class="u-pull-left">
    <a href="#">Home</a>
  </div>
{% endblock%}

{% block navigationitems %}
  <ul class="u-pull-right flexed noliststyle">
    <li class="menuitem">
      <a href="#">blog</a>
    </li>
    <li class="menuitem">
      <a href="#">impressum</a>
    </li>
  </ul>
  {% endblock %}
</div>

{% endblock %}
