{% block mainmenu %}
      <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div class="navbar-container">
            <div class="container">
                <div class="row">
                    <nav class="navbar">
                        <a href="#" class="xs-nine sm-five md-four lg-three columns menu-button menu-button-link u-pull-left"><h3 class="title"><strong>AppName</strong></h3></a>
                        <a href="#" class="button xs-eleven xs-offset-by-four sm-three md-two md-offset-by-three lg-two lg-offset-by-four one-quarter columns menu-button top-menu-hidden">Login</a>
                        <a href="#" class="button xs-eleven sm-three md-two lg-two one-quarter columns menu-button top-menu-hidden">Register</a>
                        <span class="u-pull-right xs-two side-menu-hidden" style="font-size:30px;cursor:pointer; margin-right: 20px;" onclick="openNav()">&#9776;</span>
                    </nav>
                </div>
            </div>
            <div class="nav-seperator u-full-width"></div>
        </div>
        
        {% endblock %}