{% block mainmenu %}
<div id="navigation" class="border_bottom container">
  <div class="u-pull-left">
  <a href="#">Home</a>
  </div>
  <ul class="u-pull-right">
  <li>
  <a href="#">blog</a></li><li>
  <a href="#">impressum</a>
  </li>
  
  </ul>
</div>
        
{% endblock %}